<% provide(:title, 'Patient Photos') %>
<% provide(:pageSummary, "Ace Dental Lab | The Best Dental Lab in Southern California | Product List | CAD/CAM | Zirconia | Lava | Crown | Bridge") %>
<h1 class="page-header">Listing Patient Photos</h1>
<div id="pins">
  <%= render @pins %>
</div>
