<h1>About</h1>
<div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="container">
 <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="../assets/img/examples/slide-01.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Best Dental Lab in the US - AceDental Labs</h1>
              <p class="lead">Welcome to Ace Dental Laboratory - Fullerton Dental Lab and the Best Dental Lab in the USA</p>
              <a class="btn btn-large btn-primary" href="#">Sign up today</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../assets/img/examples/slide-02.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Constant innovation</h1>
              <p class="lead">Over the past 30 years, we at Ace Dental Laboratory have added many new restorative options to our product line, such as Lava, Captek, Solid Zirconia and Procera. We also improve and customize existing dental technology, like the flexible Valplast partials; a tough yet flexible product that is easy to prepare, easy to insert and easy to adjust. </p>
              <a class="btn btn-large btn-primary" href="#">Learn more</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../assets/img/examples/slide-03.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p class="lead">A full service dental laboratory serving the USA, city of Fullerton, Orange County and all of Southern California since 1982. Dedicated to providing innovative dental products, a commitment to quality and reasonable pricing. </p>
              <a class="btn btn-large btn-primary" href="#">Browse gallery</a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-right" src="../assets/img/examples/browser-icon-chrome.png">
        <h2 class="featurette-heading">For Every Case:<span class="muted">Consistent, Speedy, Quality Service</span></h2>
        	<p class="lead">We realize that you have many choices for the best Dental Lab Services in Fullerton and the Southern California region; we thank you for choosing Ace Dental Laboratory, where you always can expect Consistency without compromise, Speed when needed the most, Quality that exceeds most expectations and Service that is without comparison.
					</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-left" src="../assets/img/examples/browser-icon-firefox.png">
        <h2 class="featurette-heading">Hiring since 2010: <span class="muted">we have added new members to our team of experienced technicians: </span></h2>
        <p class="lead"> Our growing team allows us to offer you even better customer service in addition to being able to meet all rush case deadlines.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-right" src="../assets/img/examples/browser-icon-safari.png">
        <h2 class="featurette-heading">Our Unconditional Satisfaction Guarantee<span class="muted">Seriously.</span></h2>
        <p class="lead">It has been our gratification to serve and offer you an ever expanding variety of restorative options. For those considering Ace Dental Laboratory, we encourage you to take advantage of our 100% unconditional satisfaction guarantee to meet your patient's ever expanding needs and expectations.</p>
      </div>

      <hr class="featurette-divider">
    </div>
  </div>
</div>


