<h1>About</h1>
<p>
	<h2>Best Dental Lab in the US - AceDental Labs</h2>
	<h3>Welcome to Ace Dental Laboratory - Fullerton Dental Lab and the Best Dental Lab in the USA</h3>

	A full service dental laboratory serving the USA, city of Fullerton, Orange County and all of  Southern California since 1982. Dedicated to providing Innovative dental products, commitment to quality and reasonable pricing. 
	</p>

	<p>Over the past years, we at Ace Dental Laboratory have added many new restorative options to our product line, such as Lava, Captek, Solid Zirconia and Procera. We also improved existing dental supplies, like the flexible Valplast partials; a tough yet flexible product that is easy to prepare, easy to insert and easy to adjust. </p>

	<p>We also added new members to our customer service team and increased the number of experienced technicians; which has allowed us to offer you even better customer service and more selection of talented people.</p>

	<p>It has been our gratification to serve and offer you an ever expanding variety of restorative options. For those considering Ace Dental Laboratory, we encourage you to take advantage of our 100% unconditional satisfaction guarantee to meet your patient's ever expanding needs and expectations.</p>

<p>We realize that you have many choices for the best Dental Lab Services in Fullerton and the Southern California region; we thank you for choosing Ace Dental Laboratory, where you always can expect Consistency without compromise, Predictability when needed the most, Quality that exceeds most expectations and Service that is without comparison.
</p>



