<% provide(:title, 'Coupons') %>
<% provide(:pageSummary, "Ace Dental Lab | The Best Dental Lab in Southern California | Coupons | Discounts| 30% off All Ceramic | Zirconia | Lava | Crown | Bridge | In addition to our All-Ceramic aesthetic restorations, Ace Dental Laboratory offers a variety of fixed and removable prosthesis such as: Procera®, Lava™, Captek™, Ceramage® zirconia Composites, PFM, FCG, Implants, Valplast®, Clip-On Veneers, Full Acrylic Denture and Metal Partial Denture. ") %>

<div class="container-fluid">
  <h1 class="page-header">Ace Dental Coupons!</h1>
 		<p class="lead">Ace Dental Members receive Monthly Discounts!

		All Zirconia Products 30% Off!
&
Denture and Partial no charge on Stock Tooth!

  </div>