<% provide(:title, 'Coupons') %>
<% provide(:pageSummary, "Ace Dental Lab | The Best Dental Lab in Southern California | Coupons | Discounts| 30% off All Ceramic | Zirconia | Lava | Crown | Bridge | In addition to our All-Ceramic aesthetic restorations, Ace Dental Laboratory offers a variety of fixed and removable prosthesis such as: Procera®, Lava™, Captek™, Ceramage® zirconia Composites, PFM, FCG, Implants, Valplast®, Clip-On Veneers, Full Acrylic Denture and Metal Partial Denture. ") %>

<div class="container-fluid">
  <h1 class="page-header">Ace Dental Coupons</h1>
 		<p class="lead">Ace Dental Members receive Monthly Discounts! Check back again for more!
 			<br>
 			<br><center><div class="span7 offset2">
 			<%= image_tag("labPhotos/manuel1.JPG", :alt => "Manuel ", class: "img-polaroid") %>
 			<center><caption>May 20 is also Manuel's birthday!</caption></center>
 		</div></center>
 		<div class="span8 offset1">
		<strong>All of May:</strong>
			<ul>
				<strong><li class="text-success">All Zirconia Products 30% Off</li></strong>
				<li>All stock teeth FREE on Dentures and Partials</li>
			</ul>
		</p>
	</div>

  </div>