<div class="hero-unit">
	<h1>Welcome to the Homepage </h1>
	<p>
		You are at the home page for
		<%=link_to "Brian Han's Rails", "http://www.brianyhan.com"%>
		Application.
	</p>
	<br>
	<p>
		<a href="brianyhan.com">Lemme work 'dat</a>
	</p>
	<p>
		<%=link_to "Sign up Now", "#" , class: "btn btn-primary btn-large"%>
	</p>
</div>