<div class="container">
  <h1 class="page-header">Free Shipping <form class="pull-right"><input type="button" value="Download RX Forms" onClick="window.location.href='documents/rxForm.jpg'" class="btn btn-custom-darken btn-large" style="padding:10px"></form></h1>
   <div class="row">
    <div class="span12">
      <p >
        <br>
        Ace Dental Laboratory is committed to providing you superior products and services. 
      </p>
      <p >
        This includes our shipping system, where we use a combination of USPS, UPS, and our own delivery drivers to ensure your delivery arrives before your deadline. </p>
      </p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="span3">
      <%= image_tag("uspsLogo.png", :alt => "USPS Logo", class: "img-rounded") %>
      <br><br> <br><br> <br><br>
      <%= image_tag("upsLogo.png", :alt => "UPS Logo", class: "img-rounded") %>
    </div>
    <div class="span9">
      <p class="lead">
        We currently offer <strong><span class="text-success">FREE</span></strong> complementary delivery service to <strong>Los Angeles, Orange, San Diego, Riverside, San Bernardino, and Santa Barbara county.  </strong> 
      </p>

      <p >
        As an additional alternative, cases can be shipped via USPS and UPS. Ace Dental Laboratory pays the shipping cost from the dental office to the laboratory. A minimal handling fee of $8.00 is charged per invoice on all cases shipped to the dental office via USPS.
      </p>
      <p >
        We have compiled a series of steps to assist you with packing your case for shipping via USPS. In preparing your case for shipment, we encourage you to follow the guidelines shown below.
      </p><br>
       <div id="shippingContainer">
    <div id="tab-walls">
    <div class="tab-pane " id="tabs-side">
      <h3>Shipping Guide</h3>
      <hr/>
      <div class="tabbable tabs-left">
        <ul class="nav nav-tabs span2">
          <li class="active"><a href="#tabs2-pane1" data-toggle="tab">Packing Your Case</a></li>
          <li><a href="#tabs2-pane2" data-toggle="tab">Packaging Checklist</a></li>
          <li><a href="#tabs2-pane3" data-toggle="tab">Wet Impressions</a></li>
        </ul>
        <div class="tab-content span">
          <div id="tabs2-pane1" class="tab-pane active span5">
            <h4>Packing Your Case</h4>
            <ol>
              <li>Use Two Strips of Bubble Wrap, One Wrapping the Bite and Impression Horizontally and One wrapping vertically.</li>
              <br>
              <li>Insert bubble wrapped bite registration, Upper and Lower Impressions along with Rx Form into a plastic bag.</li>
              <br>
              <li>Place a rubber band around bag to secure the materials.</li>
              <br>
              <li>Place bag into a box and seal. Then, affix the pre-addressed & pre-paid shipping label to the box.</li>
            </ol>
          </div>
          <div id="tabs2-pane2" class="tab-pane span5">
          <h4>What you need to enclose with each case:</h4>
            <ol>
              <li>Photos and Slids</li>
              <br>
              <li>Articulators & Face bows</li>
              <br>
              <li>Packaging and Cushioning</li>
              <br>
            </ol>
          </div>
          <div id="tabs2-pane3" class="tab-pane span5">
            <h4>Wet Impressions</h4>
            <p>Impressions and bites should be dry and placed in plastic bags or bubble bags to avoid damage. </p>
            <p>In addition, please remember to properly wrap your impression (wet paper towel and plastic baggy) to ensure it retains its moisture. </p>
            <p>We welcome the opportunity to work with you, please feel free to call us at <abbr title="phone">P: (714) 525-3653</abbr> if you have any questions.</p>
          </div>
        </div><!-- /.tab-content -->
      </div><!-- /.tabbable -->
    </div>
  </div><!-- .tabbable -->
</div>
    </div>
  </div>
  
  
</div>


   

