<div class="container">
  <h1 class="page-header">Terms and Policies</h1>
  <div class="row">
    <div class="span8 offset2">
      <%= image_tag("labphotos/justacouplaguys.JPG", :alt => "Guys", class: "img-polaroid largePhoto offset3") %>
      <div class="caption">
        Mr. Kim and Mr. Fuentes working hard or hardly working?
      </div>
    </div>
  </div>
  <div class="row">
   <div id="termsContainer">
    <div id="tab-walls">
    <div class="tab-pane" id="tabs-side">
    
      <div class="tabbable tabs-left">
        <ul class="nav nav-tabs span3">
          <li class="active"><a href="#tabs2-pane1" data-toggle="tab">Payment Terms</a></li>
          <li><a href="#tabs2-pane2" data-toggle="tab">Remake Policy</a></li>
          <li><a href="#tabs2-pane3" data-toggle="tab">Shipping Policy</a></li>
          <li><a href="#tabs2-pane4" data-toggle="tab">Rush Case Policy</a></li>
          <li><a href="#tabs2-pane5" data-toggle="tab">Working Schedule</a></li>
        </ul>
        <div class="tab-content span8">
          <div id="tabs2-pane1" class="tab-pane active">
            <h4>Payment Terms</h4>
            <p>
                An invoice is sent with each case upon completion. Payment is due within ten (10) days from month-end statement date. Interest of 2% per month shall be charged on any unpaid balance outstanding for more than thirty (30) days from date of invoice. Account is placed on C.O.D. for any delinquent balance beyond sixty (60) days from invoice date.
            </p>
    
          </div>
          <div id="tabs2-pane2" class="tab-pane">
          <h4>Remake Policy</h4>
            Ace Dental Laboratory warrants that the case(s) shall be free of defects in materials and workmanship at the time of delivery. All cases are 100% warranted for up to one (1) year from date of invoice. All change of shade or re-prepped cases returned to laboratory for remake will be charged at 50% of original invoice amount.  
          </div>
          <div id="tabs2-pane3" class="tab-pane">
            <h4>Shipping Policy</h4>
            <p>Ace Dental Laboratory is committed to providing you superior products and services. We offer a complimentary daily pick-up and delivery service to  Los Angeles, Orange, San Diego, Riverside San Bernardino, and Santa Barbara county.</p>

            <p>As an additional alternative cases can be shipped via United States Postal Service. Ace Dental Laboratory pays the shipping cost from the dental office to the laboratory. A minimal handling fee of $8.00 is charged per invoice on all cases shipped to the dental office via USPS.</p>

            <p>Overnight shipping to anywhere in the USA is also available at an additional fee. Please call our offices for current rates.</p>
          </div>
          <div id="tabs2-pane4" class="tab-pane">
            <h4>Rush Case Policy</h4>
            <p>Please call our offices to schedule your rush cases. Cases requested to be completed in three (3) days are subject to 50% rush fee, and in two (2) days are subject to 100% rush fee. </p>
          </div>
          <div id="tabs2-pane5" class="tab-pane">
            <h4>Working Schedule</h4>
              <table class="span7 table table-striped">
                Ace Dental Laboratory is committed to providing you superior products and services. The following is a schedule of services with in-lab working time. Please allow for pick-up and delivery time. Weekends are not included.
                <br>
                <br>
                <thead class="text-center">
                  <tr>
                    <th>Products</th>
                    <th>Business Days until Completion</th>
                  </tr>
                </thead>
                <tbody class="text-center">

                  <tr>
                    <td>PFM, Captek & All-Ceramics</td>
                    <td>7 working days</td>
                  </tr>
                  <br><br>
                  <tr>
                    <td>Full Cast Crowns</td>
                    <td>5 working days</td>
                  </tr>
                  <tr>
                    <td>Partial Frame Work</td>
                    <td>10 working days</td>
                  </tr>
                  <tr>
                    <td>Partial Process & Finish</td>
                    <td>5 working days</td>
                  </tr>
                  <tr>
                    <td>Denture Try-in</td>
                    <td>5 working days</td>
                  </tr>
                  
                  <tr>
                    <td>Denture Process & Finish</td>
                    <td>5 working days</td>
                  </tr>
                   <tr>
                    <td>Repair</td>
                    <td>1-2 working days</td>
                  </tr>
                   <tr>
                    <td>Reline</td>
                    <td>1-2 working days</td>
                  </tr>
                   <tr>
                    <td>Custom Tray with Bite</td>
                    <td>3 working days</td>
                  </tr>
                </tbody>

              </table>


          </div>
        </div><!-- /.tab-content -->
      </div><!-- /.tabbable -->
    </div>
</div><!-- .tabbable -->
</div>
</div>
</div>


   

