<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Today's Markets</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Project name</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Direct Links</li>
              <li><a href="http://www.dowjones.com/">Dow Jones</a></li>
              <li><a href="http://www.nasdaq.com/">Nasdaq Composite</a></li>
              <li><a href="http://us.spindices.com/">S&P 500</a></li>
              <li class="nav-header">News Sources</li>
              <li><a href="http://www.huffingtonpost.com/natalie-pace/">Huffington Post</a></li>
              <li><a href="http://online.wsj.com/home-page">Wall Street Journal</a></li>
              <li><a href="http://www.ft.com/home/uk">Financial Times</a></li>
              <li><a href="https://www.google.com/finance">Google Finance</a></li>
              <li><a href="http://finance.yahoo.com/">Yahoo Finance</a></li>
              <li class="nav-header">Learn More</li>
              <li><a href="http://www.wallstreetsurvivor.com/">Wall Street Survivor</a></li>
              <li><a href="https://www.khanacademy.org/science/core-finance">Khan Academy</a></li>
              <li><a href="http://www.nataliepace.com/">Natalie Pace</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
            <h1>Todays Markets!</h1>
            <p>Here you can see real time updates on some of the markets that are mentioned throughout the site. Feel free to look around and explore! We’ve included a variety of links as well in case you’re interested in learning more. </p>
            <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
          </div>
          <div class="row-fluid">
            <div class="span4">
              <h2>Dow Jones</h2>
              <p>The Dow Jones industrial average is an index used by many as a way to measure the general health of the overall U.S. economy. The number often referred to in news reports and on finance websites is a scaled average of the stock price of 30 major U.S. companies.</p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Nasdaq Composite</h2>
              <p>The Nasdaq Composite, is an index profiling all of the companies listed on the NASDAQ stock exchange. This in turn makes an a very unique index, as it is only major index reported on in the U.S. that does not profile companies exclusively headquartered in the United States. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>S&P 500</h2>
              <p>Standard & Poor's 500 is commonly through to be the best indicator of the U.S. economy. It is an aggregate of a select 500 U.S. based companies which are believed to be representative of the U.S. market. However, unlike the other indexes the S&P 500 uses a capitalization weighted index, meaning that places more emphasis on the stock prices of the larger companies.</p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
          <div class="row-fluid">
            <div class="span4">
              <h2>Dow Jones API</h2>
              <p>
                <script src="http://www.gmodules.com/ig/ifr?url=http://edulifeline.com/includes/stocks_widget/widget.xml&amp;synd=open&amp;w=250&amp;h=322&amp;title=Financial+Stock+Ticker+(Live)&amp;border=%23ffffff%7C3px%2C1px+solid+%23999999&amp;output=js"></script>
              </p>

              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Nasdaq API</h2>
              <p> <script src="http://www.gmodules.com/ig/ifr?url=http://edulifeline.com/includes/stocks_widget/widget.xml&amp;synd=open&amp;w=250&amp;h=322&amp;title=Financial+Stock+Ticker+(Live)&amp;border=%23ffffff%7C3px%2C1px+solid+%23999999&amp;output=js"></script></p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>S&P API</h2>
              <p> <script src="http://www.gmodules.com/ig/ifr?url=http://edulifeline.com/includes/stocks_widget/widget.xml&amp;synd=open&amp;w=250&amp;h=322&amp;title=Financial+Stock+Ticker+(Live)&amp;border=%23ffffff%7C3px%2C1px+solid+%23999999&amp;output=js"></script></p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <hr>
       <script src="//www.gmodules.com/ig/ifr?url=http://edulifeline.com/includes/stocks_widget/widget.xml&amp;synd=open&amp;w=250&amp;h=322&amp;title=Financial+Stock+Ticker+(Live)&amp;border=%23ffffff%7C1px%2C1px+solid+%2366ccff%7C1px%2C2px+solid+%2366ccff&amp;output=js"></script>
      <a class="twitter-timeline" width="400" height="220" href="https://twitter.com/koushaw" data-widget-id="324336761989898240">Tweets by @koushaw</a>
         
          <a class="twitter-timeline" href="https://twitter.com/NataliePace" data-widget-id="325049245734420480">Tweets by @NataliePace</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//www.gmodules.com/ig/ifr?url=http://edulifeline.com/includes/stocks_widget/widget.xml&amp;synd=open&amp;w=250&amp;h=322&amp;title=Financial+Stock+Ticker+(Live)&amp;border=%23ffffff%7C1px%2C1px+solid+%2366ccff%7C1px%2C2px+solid+%2366ccff&amp;output=js"></script>

    <script src="http://webdev.usc.edu/jquery.js"></script>
    <script src="http://webdev.usc.edu/jquery-cookie.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

  </body>
</html>
