<% provide(:title, 'Ceramic Crowns and Bridges') %>
<% provide(:pageSummary, "Ace Dental Lab | The Best Dental Lab in Southern California | Product List | All Ceramic | Zirconia | Lava | Crown | Bridge | In addition to our All-Ceramic aesthetic restorations, Ace Dental Laboratory offers a variety of fixed and removable prosthesis such as: Procera®, Lava™, Captek™, Ceramage® zirconia Composites, PFM, FCG, Implants, Valplast®, Clip-On Veneers, Full Acrylic Denture and Metal Partial Denture. ") %>
<div class="container-fluid">
	<h1 class="page-header">CAD/CAM</h1>
	<div class="row">
		<div class="span3">
			<%= render 'layouts/productsMenu'%> 
			<%= image_tag("labphotos/nobelMachine.jpg", :alt => "Nobel Machine", class: "img-polaroid ") %>
		</div>
		<div class="span8" style="padding-left: 20px">
		<p class="lead">
			Over the past decade, Ace Dental Lab has perfected the art of All-Ceramic restorations through IPS e.max®, Feldspathic Veneers and 3G™ All-Ceramic systems. Each of our dental technicians are double certified, completing both an Ace training course and a specialized course run by experts in the All-Ceramic restorations.
		</p>
		<p class="lead">
			Ace Dental Lab's highly trained technicians along with All-Ceramic superior strength and durability guarantees natural looking results, giving your patients a healthy, natural, beautiful smile. The All-Ceramic systems selected by Ace Dental Laboratory have proven to be the restoration of choice among dentists worldwide. Ace Dental Laboratory extend services to dentists in Fullerton, Orange County and all of Southern California.
		</p>
		<p class="lead"> 
			In addition to our All-Ceramic aesthetic restorations, Ace Dental Laboratory offers a variety of fixed and removable prosthesis such as: Procera®, Lava™, Captek™, Ceramage® zirconia Composites, PFM, FCG, Implants, Valplast®, Clip-On Veneers, Full Acrylic Denture and Metal Partial Denture. 
		</p>
		</div>
		
	</div>

	With Zirconia base restorations, dentists no longer sacrifice aesthetics for the convenience of conventional cementations. Any of the Zirconia restorations can be conventionally cemented or bonded.

	In addition to our CAD/CAM Zirconia aesthetic restorations, Ace Dental Laboratory offers a variety of fixed and removable prosthesis such as: IPS e.max®, Captek™, Feldspathic Veneers, 3G™ Ceramics, Ceramage® zirconia Composites, PFM, FCG, Implants, Clip-On Veneers, Valplast®, Full Acrylic Denture and Metal Partial Denture.

	CAD/CAM - Zirconia

	Ace Dental Laboratory is proud to offer dentists the Lava™ Crown & Bridge zirconia system and Ace house-brand generic zirconia. A conventional technique, with unconventional results. Both the Lava and Ace house-brand zirconia systems provide some of the most durable and esthetic all-ceramic restorations available today.

	Both systems present an innovative CAD/CAM technology for All-Ceramic Crown & Bridge on a Zirconia base. The base is a high-tech ceramic material that is characterized by its outstanding stability and biocompatibility, as well as strength level significantly higher than other ceramic materials. The material displays excellent esthetics and precise fit characteristics.

	CAD/CAM - Procera® Alumina/Zirconia

	The Procera-Alumina system is made from densely sintered aluminum oxide. It's produced in a well-documented industrial process ensuring high quality, excellent esthetics and high strength.

	Ace Dental Laboratory is now able to offer the new Procera Zirconia. The new Zirconia base material offers all the benefits of the Alumina base material; in addition it is designed to fabricate multiple unit bridge anywhere in the mouth.

	The newest addition to the Procera family is the Procera Abutment, enabling you to create custom abutments to match your patients' needs once the implant is in place. Combined with the Procera All-Ceram creates the optimal dental crown for individual function and esthetics.
</div>