<% provide(:title, 'CAD/CAM') %>
<% provide(:pageSummary, "Ace Dental Lab | The Best Dental Lab in Southern California | Product List | CAD/CAM | Zirconia | Lava | Crown | Bridge") %>
<div class="container-fluid">
	<h1 class="page-header">CAD/CAM</h1>
	<div class="row">
		<div class="span3">
			<%= render 'layouts/productsMenu'%> 
			<%= image_tag("productImages/cadCamImages/cadCam2.jpg", :alt => "CAD CAM2", class: "img-rounded ") %>
		</div>
		<div class="span8" style="padding-left: 20px">
		<p class="lead">
			For your patients' who demand restorations with clinically proven strength, exceptional beauty, and vitality that replicates the beauty of natural dentition, using Ace Dental Lab will be the best choice you have ever made!
		</p>
		<p class="lead">
			Ace Dental Lab provides uncompromising aesthetics by using the latest Computer Aided Design/Computer Aided Machinery technology in combination with our own custom techniques. 
		</p>
		<p class="lead"> 
			Our work with Zirconia restorations has led to our lab becoming widely recognized in Fullerton, Orange County and all of Southern California by clinicians and patients alike as the <strong>#1</strong> choice to make their teeth.
		</p>
		<p>
			With Zirconia base restorations, dentists no longer sacrifice aesthetics for the convenience of conventional cementations. Any of the Zirconia restorations can be conventionally cemented or bonded.

	
		</p>
	
		</div>
		
	</div>

	<div class="row-fluid"><div class="span9">

	<p class="lead"><h6>CAD/CAM - Zirconia</h6>			

	Ace Dental Laboratory is proud to offer dentists the Lava™ Crown & Bridge zirconia system and Ace house-brand generic zirconia. A conventional technique, with unconventional results. Both the Lava and Ace house-brand zirconia systems provide some of the most durable and esthetic all-ceramic restorations available today.</p>

	<p>Both systems present an innovative CAD/CAM technology for All-Ceramic Crown & Bridge on a Zirconia base. The base is a high-tech ceramic material that is characterized by its outstanding stability and biocompatibility, as well as strength level significantly higher than other ceramic materials. The material displays excellent esthetics and precise fit characteristics.</p>
</div>
<div class="span2">
	<br><br>
	<%= image_tag("productImages/cadCamImages/cadCam.png", :alt => "CAD CAM1", class: "img-rounded pull-right ") %>
</div>
<div class="span10">
		<p class="lead"><h6>CAD/CAM - Procera® Alumina/Zirconia</h6>
	<%= image_tag("productImages/cadCamImages/alumina.jpg", :alt => "Alumina", class: "img-rounded pull-left ") %>


	<p>The Procera-Alumina system is made from densely sintered aluminum oxide. It's produced in a well-documented industrial process ensuring high quality, excellent esthetics and high strength.</p>

	<p>Ace Dental Laboratory is now able to offer the new Procera Zirconia. The new Zirconia base material offers all the benefits of the Alumina base material; in addition it is designed to fabricate multiple unit bridge anywhere in the mouth.</p>

	<p>The newest addition to the Procera family is the Procera Abutment, enabling you to create custom abutments to match your patients' needs once the implant is in place. Combined with the Procera All-Ceram creates the optimal dental crown for individual function and esthetics.</p>
</div>
</div>


	<small><small>IPS e.max® is a registered trade mark of Ivoclar Vivadent North America, Lava™ is registered trade marks of 3M ESPE. Procera® is a registered trade mark of Noble Biocare. Ceramage® is a registered trademark of Shofu, Inc. Captek™ is a registered trade mark of Precious Chemicals, Inc. Valplast® is a registered trade mark of Valplast International Corporation. OPC® 3G™ are registered trademarks of Pentron Clinical Corporation. Clip-On Veneers is a product of Shofu Dental Company.</small></small>

</div>