<% provide(:title, 'Composites') %>
<% provide(:pageSummary, "Ace Dental Lab | The Best Dental Lab in Southern California | Product List | CAD/CAM | Zirconia | Lava | Crown | Bridge | Procera® | Lava™|Procera® | Lava™ | Captek™ | Ceramage® zirconia Composites| PFM, FCG | Implants | Valplast® | Clip-On Veneers | Full Acrylic Denture and Metal Partial Denture.Captek™| Ceramage® zirconia Composites | PFM | FCG | Implants | Valplast® | Clip-On Veneers| Full Acrylic Denture and Metal Partial Denture.") %>
<div class="container-fluid">
	<h1 class="page-header">Composites</h1>
	<div class="row">
		<div class="span3">
			<%= render 'layouts/productsMenu'%> 
			<%= image_tag("productImages/composite2.jpg", :alt => "Composite2", class: "img-rounded ") %>
		</div>
		<div class="span8" style="padding-left: 20px">
		<p class="lead">
				For the past decade, Ace Dental Laboratory has perfected the art of composite restorations through the Ceramage® zirconium silicate system. Our certified dental technicians have completed many training courses both in-house and by expert trainers specializing in the composite restorations.
		</p>
		<p class="lead">
			Ace Dental Laboratory's highly trained technicians along with Ceramage® zirconium superior strength and durability are an unbeatable pair! We <strong>GUARANTEE</strong> natural looking results, giving your patients a healthy, natural, beautiful smile. 
		</p>
		<p > 
The Ceramage® zirconium systems selected by Ace Dental Laboratory have proven to be the restoration of choice among dentists worldwide. Ace Dental Laboratory extend services to dentists in Fullerton, Orange County and all of Southern California.		</p>
	
		</div>
		
	</div>




<p class="lead"><h6>COMPOSITE - Ceramage®</h6>	<%= image_tag("productImages/composite.jpg", :alt => "Composite1", class: "img-rounded pull-right") %>
	Ceramage® zirconia silicate system combines natural color reproduction with extraordinary strength and versatility, allowing Ace Dental Laboratory certified technicians to match surrounding tooth structures in even complicated cases. Using this revolutionary zirconium silicate material, Ace Dental technicians can accurately reproduce enamel and dentin structures with no risk of vitrification. 
</p>
<p> 
Ceramage® is best indicated for the fabrication of superior anterior and posterior crowns, veneers, implant-supported restorations, and or inlays and onlays. The material’s high bond strength allows its use in variety of substructures, including non-precious and high noble alloys, with optimal light transmission, Ceramage® is also highly polishable, which enables low plaque adherence for favorable patient hygiene.</p>

<p>The benefits of Ceramage® are many: it bonds to porcelain; offers a natural gum and tooth color reproduction; outstanding strength and beauty; remarkable translucency; variety of shades available; superior wear characteristics; unrestricted indications; and easy conventional cementation. To download a product brochure, click here.</p>

	<small><small>IPS e.max® is a registered trade mark of Ivoclar Vivadent North America, Lava™ is registered trade marks of 3M ESPE. Procera® is a registered trade mark of Noble Biocare. Ceramage® is a registered trademark of Shofu, Inc. Captek™ is a registered trade mark of Precious Chemicals, Inc. Valplast® is a registered trade mark of Valplast International Corporation. OPC® 3G™ are registered trademarks of Pentron Clinical Corporation. Clip-On Veneers is a product of Shofu Dental Company.</small></small>
</div>