<% provide(:title, 'CAD/CAM') %>
<% provide(:pageSummary, "Ace Dental Lab | The Best Dental Lab in Southern California | Product List | Snap-On Smiles| Clip-On Veneers | In addition to Clip-On Veneers and Snap-On Smiles, Ace Dental Laboratory offers a variety of fixed and removable prosthesis such as: Procera®, Lava™, IPS e.max®, Ceramage® zirconia, Feldspathic Veneers, 3G™ Ceramics, Valplast®, Full Acrylic Denture and Metal Partial Denture.") %>
<div class="container-fluid">
	<h1 class="page-header">Clip-On Veneers and Snap-On Smiles</h1>
	<div class="row">
		<div class="span3">
			<%= render 'layouts/productsMenu'%> 
			<br><br><br>
			<%= link_to (image_tag("productImages/snapOnSmileImages/snapOnSmile1.jpg", :alt => "Snap On Smile Logo", class: "img-rounded "))  %>	
			<%= image_tag("productImages/snapOnSmileImages/snapOnSmile2.png", :alt => "Snap On Smile Before and After", class: "img-rounded ") %>	
		</div>
		<div class="span7 ">
			<p class="lead">
				<strong>Clip-On Veneers</strong> from Ace Dental Laboratory is a non-invasive cosmetic, removable arch that literally snaps over existing dentition without adhesives, and without impinging on gingival tissue or covering the palate. 
			</p>
		<%= image_tag("labphotos/nobelMachine.jpg", :alt => "Nobel Machine", class: "img-polaroid ") %>
		
		</div>
		<div class="span12 ">
				<p>
				It is designed to be contact lens thin in the anterior with increased strength in the posterior, where it’s needed. It is flexible, comfortable and natural-looking, so your patient can wear it all day! 
			</p>
		
		</div>	
	</div>
	<p>
		<strong>Clip-On Veneers</strong>  from Ace Dental Laboratory can be delivered in just two short appointments. It’s guaranteed for 12-month with an optional 36 month extension.
	</p>
	<p > 		
		Ace Dental Laboratory serving Fullerton, Orange County and Southern California is a certified <strong>Clip-On Veneers</strong>  and <strong>Snap-On Smile</strong> laboratory. Prescribe <strong>Clip-On Veneers</strong> for your next implant or partial denture case. Results are amazing and patients love it. 

		</p>
	<small>IPS e.max® is a registered trade mark of Ivoclar Vivadent North America, Lava™ is registered trade marks of 3M ESPE. Procera® is a registered trade mark of Noble Biocare. Ceramage® is a registered trademark of Shofu, Inc. Captek™ is a registered trade mark of Precious Chemicals, Inc. Valplast® is a registered trade mark of Valplast International Corporation. OPC® 3G™ are registered trademarks of Pentron Clinical Corporation. Clip-On Veneers is a product of Shofu Dental Company.</small>
</div>