
<div class ="footer navbar-fixed-bottom">
	<small>
	<address class="text-center">
  	<strong>
  		<%=link_to "Ace Dental Lab", "http://www.acedentallabs.com"%>
		</strong>
		<br>
 		536 W. Commonwealth Ave.
  	Fullerton, CA 92835<br>
  	<abbr title="Phone">Phone:</abbr> (714) 525-3653
    <a href="mailto:#">acedentallabs@gmail.com</a>
	</address>
</small>
</div>
