<div class= "navbar-wrapper">
<div class="container">
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">

 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
  <%= link_to "Ace Dental Lab", root_path, class: "brand" %>
 
      <!-- Everything you want hidden at 940px or less, place within here -->
     <div class="nav-collapse collapse">
          <ul class="nav" role="navigation">
          <li class="dropdown">
            <a id="drop1" href="/about" role="button" class="dropdown-toggle" data-toggle="dropdown" data-target="#">About Ace<b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                <li role="presentation"><a role="menuitem" tabindex="-1" data-target="#" href="/shipping">Shipping</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" data-target="#" href="/terms_policies_15">Terms and Policies</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" data-target="#" href="/working_sched_14">Working Schedule</a></li>
              </ul>
          </li>
          <li><a data-target="#" href="/contact_us">Contact Us</a></li>
           <li id="menu" class="dropdown">
            <a href="/products" data-target="#"  id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">Products<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="/dental_lab_coupons">Coupons</a></li>
            </ul>
            <li><a href="/downloads">Downloads</a></li>
				  <!-- .nav, .navbar-search, .navbar-form, etc -->
	  </ul>
		<ul class="nav pull-right">
			<% if user_signed_in? %>
				<li><%= link_to "Edit Profile", edit_user_registration_path %></li>
				<li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
    	<% else %>
	    	<li><%= link_to "Login", new_user_session_path%></li>
    	<% end %>
			<!--.nav, .navbar-search, .navbar-form, etc -->
		    </ul>
      </div>
 
    </div>
  </div>
</div> 
</div>
